<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="header-top">
            <div class="container">
                <div class="ht-left">
                    <div class="mail-service">
                        <i class=" fa fa-envelope"></i>
                        help.desk@rwandatradesin.com
                    </div>
                    <div class="phone-service">
                        <i class=" fa fa-phone"></i>
                        +250 780 000 000
                    </div>
                </div>
                <div class="ht-right">
                    <div class="top-social">
                        <a href="#"><i class="ti-facebook"></i></a>
                        <a href="#"><i class="ti-twitter-alt"></i></a>
                        <a href="#"><i class="ti-linkedin"></i></a>
                        <a href="#"><i class="ti-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="inner-header">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="logo">
                            <a href="./index.html">
                                <img src="/client/img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5">
                        <form action="/products/search" method="post">
                            <div class="advanced-search">
                                <span class="category-btn">Search</span>
                                <div class="input-group">
                                    <input type="text" name="searchQuery" placeholder="What do you need?">
                                    <button type="sumbit"><i class="ti-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-3 text-right col-md-3">
                        <ul class="nav-right">
                            <span>.</span>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div id="navbar" class="nav-item">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <span class="navbar-brand" href="#"><img style="width: 80px;" src="/client/img/logo-no-text.png"
                            alt=""></span>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Departments
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <% if(!categories || categories.length === 0){ %>
                                    <a class="dropdown-item" href="#">No categories yet</a>
                                    <% } else { %>
                                    <% for(var i = 0; i < (categories.length > 10 ? 10 : categories.length); i++) {%>
                                    <a class="dropdown-item"
                                        href="/categories/<%=categories[i]._id%>"><%=categories[i].name%></a>
                                    <% } %>
                                    <% if(categories.length > 10){ %>
                                    <a class="dropdown-item" href="/categories"> + See more categories</a>
                                    <% } %>
                                    <% } %>
                                </div>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contact-us">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

    </header>
    <!-- Header End -->