<!-- content-wrapper ends -->
<!-- partial:partials/_footer.html -->
<footer class="footer">
    <div class="footer-inner-wraper">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright ©
                <script>document.write(new Date().getFullYear());</script>. RwandaTradesIn All rights
                reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i
                    class="mdi mdi-heart text-danger"></i> by <a href="https://www.rutakayile.dev/"
                    target="_blank">Rutakayile Samuel</a></span>
        </div>
    </div>
</footer>
<!-- partial -->
</div>
<!-- main-panel ends -->
</div>
<!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="/server/vendors/js/vendor.bundle.base.js"></script>
<!-- DATATABLES -->
<script src="/server/js/jquery.dataTables.js"></script>
<script src="/server/js/dataTables.bootstrap4.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="/server/vendors/chart.js/Chart.min.js"></script>
<script src="/server/vendors/jquery-circle-progress/js/circle-progress.min.js"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="/server/js/off-canvas.js"></script>
<script src="/server/js/hoverable-collapse.js"></script>
<script src="/server/js/misc.js"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<script src="/server/js/dashboard.js"></script>
<script src="/server/js/data-table.js"></script>
<!-- End custom js for this page -->
</body>

</html>