<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>RwandaTradesIn Dashboard</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/server/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/server/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/server/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/server/css/dataTables.bootstrap4.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/server/vendors/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/server/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/server/css/style.css">
    <link rel="stylesheet" href="/server/css/custom.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/server/images/favicon.png" />
</head>